* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  flex: 1;
  min-height: 100vh;
}

/* Navbar layout and styling */
.nav-bar {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-right: 2rem;
  background-color: white;
  border-bottom: 1px solid black;
}
.container {
  margin-right: 1rem;
}
.brand {
  display: flex;
  align-items: center;
  width: 30vw;
}
.brandImage {
  height: 6vh;
  width: auto;
}
.brand-text {
  font-size: 1.5rem;
  font-family: "quicksand";
  text-decoration: none;
  font-weight: 375;
  color: rgb(138, 138, 138);
}
/* End of navbar */

/* Layout and styling for the home page */
.main-page {
  width: auto;
  /* min-height: 150vh; */
  background-image: url("../public/background.jpeg");
  background-size: cover;
  background-position: center;
  padding-top: 1rem;
  flex-grow: 1;
}
.main-page-text {
  font-family: "quicksand";
}
/* About us section of home page */
.banner-text {
  font-family: "quicksand";
  color: white;
  font-size: 2.5rem;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  width: 90%;
  background-color: #353333;
  margin-bottom: 3rem;
  border-radius: 5px;
}
.banner-container {
  display: flex;
  justify-content: center;
}

.about-us-content {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.about-us-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: 50%;
}
.about-us-text {
  margin-top: 1rem;
  font-family: "quicksand";
  background-color: #353333;
  color: white;
  border-radius: 5px;
  padding: 1.2rem;
  box-sizing: content-box;
  overflow-wrap: break-word;
  width: 30vw;
  text-align: center;
}
.homepage-image {
  height: auto;
  max-width: 22rem;
  width: 30vw;
  border-radius: 25px;
  margin-right: 1rem;
}
.award-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  font-family: quicksand;
  font-size: 1.5rem;
  padding: 3rem;
  background-color: #353333;
  color: white;
  border-radius: 5px;
}
.award-content {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 10vw;
}
.contact-us {
  display: flex;
  justify-content: center;
}
.box {
  background-color: #353333;
  color: white;
  padding: 2rem;
  border-radius: 5px;
  min-width: 15vw;
  margin: 2rem;
  font-family: quicksand;
}
/* End of home page */

/* Footer section */
.footer {
  min-height: 15vh;
  width: 100%;
  border-top: 1px solid black;
  padding: 1rem;
  background-color: rgb(235, 235, 235);
}
.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-text {
  display: flex;
  align-items: flex-end;
  font-family: "quicksand";
}
.social-icons {
  display: flex;
  justify-content: space-between;
}
/* End of Footer */

/* Pricing page */
.pricing-page {
  min-height: 100vh;
  width: auto;
  padding: 1rem;
  background-image: url("../public/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
  flex: 1;
}
/* Stylist section */
.stylist-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}
.stylist-info {
  justify-content: center;
  background-color: white;
  padding: 1rem;
  box-shadow: 3px 1px 12px 0px rgb(46, 46, 46);
  margin-top: 2rem;
}
.avatar {
  border-radius: 30%;
  width: 12rem;
  height: 12rem;
  margin-right: 10%;
  transform: translateY(-10%);
}
.flex-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  align-items: center;
}
.stylist-pricing {
  font-family: "quicksand";
  font-size: xx-large;
  width: 50%;
  height: auto;
  transform: translateX(10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 1rem;
}
.stylist-name {
  font-family: "quicksand";
  text-align: center;
  margin: 1rem;
}
/* End of pricing page */

/* Media queries for responsiveness */
@media (max-width: 450px) {
  .brand-text {
    display: none;
  }
  .avatar {
    display: none;
  }
  .about-us-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .award-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 10vw;
  }
  .about-us-text {
    /* height: 20vh; */
    font-family: "quicksand";
    background-color: #353333;
    color: white;
    border-radius: 5px;
    padding: 1.3rem;
    box-sizing: content-box;
    width: 60vw;
    text-align: center;
    margin-top: 1rem;
  }
  .homepage-image {
    height: auto;
    width: 15rem;
  }
  .stylist-pricing {
    font-size: large;
  }
  .nav-bar {
    padding-right: 0;
  }
  .main-page {
    /* min-height: 250vh; */
  }
  .award-list {
    margin-top: 1rem;
  }
}
@media (max-width: 600px) {
  .avatar {
    display: none;
  }
  .stylist-pricing {
    font-size: small !important;
  }
  .homepage-image {
    height: auto;
    width: 12rem;
  }
  .contact-us {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .box {
    width: 60%;
  }
  .main-page {
    /* min-height: 300vh !important; */
  }
}
